* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#fondo1 {
  position: absolute;
  width: 100%;
  height: 500px;
  background: url(../img/background3.jpg);
  background-repeat: no-repeat;
  animation: animacion 10s linear 5s infinite;
}
#fondo2 {
  position: absolute;
  width: 100%;
  height: 500px;
  background: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: animacion 10s linear 0s infinite;
}
@keyframes animacion {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
