* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}
.navbar {
      width: 100%;
      height: 80px;
      padding: 0 10px 0 10px;
      background-color: rgb(229, 114, 114);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.logo {
      font-size: 20px;
      color: aliceblue;
}
.ico {
      display: none;
}
.list {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
}
.item {
      padding: 0 10px;
}
.item a {
      text-decoration: none;
      color: white;
      font-weight: bold;
}
#Inicio {
      height: 500px;
      background-color: rgb(211, 158, 92);
}
#Nosotros {
      height: 500px;
      background-color: rgb(92, 118, 211);
}
#Servicios {
      height: 500px;
      background-color: rgb(211, 211, 92);
}
#Contactos {
      height: 500px;
      background-color: rgb(149, 92, 211);
}
@media (max-width: 700px) {
      .navbar {
            background-color: rgb(229, 114, 114);
            display: sticky;
      }
      .ico {
            display: block;
            color: rgb(255, 255, 255);
            cursor: pointer;
            font-size: 20px;
      }
      .list {
            background-color: rgb(243, 168, 170);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 80px;
            left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            clip-path: circle(71.5% at 50% 51%);
            transition: 5s clip-path ease-in;
      }
      .show {
            clip-path: circle(0% at 50% 50%);
            display: none;
      }
}
