* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.nav {
    grid-column: span 4;
    width: 100%;
    background-color: rgb(135, 135, 199);
    text-align: center;
    display: block;
    height: 80px;
}
