* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
header {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 150px;
  background-color: gray;
}
#menuTop {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: black;
}
#menuTop li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nivel1 > ul {
  display: flex;
  flex-direction: column;
}
